@using Microsoft.AspNetCore.Identity
@model IEnumerable<IdentityRole>
@{

    <h1>Role list</h1>

    <table class="table table-bordered table-striped">


        <tr>
            <td>Name</td>
        </tr>
        @if (Model.Any())
        {
            @foreach (var item in Model)
            {
                <tr>
                    <td>@item.Name</td>

                    <td>
                        <form asp-action="Delete" method="post">

                            <input type="hidden" value="@item.Name" name="Name" />
                            <button type="submit" class="btn btn-danger">Remove</button>
                        </form>
                    </td>

                </tr>

            }
        }
        else
        {
            <tr>
                <td>There is no Role</td>
            </tr>
        }
    </table>

    <a asp-action="Create" class="btn btn-primary">Create</a>
}
