@model ErrorViewModel
@{


    <table class="table table-striped table-bordered">

        <tr>

            <td>Message</td>

        </tr>

        <tr>

            <td>@Model.ErrorMessage</td>

        </tr>

    </table>
}
